zoomus.conf
manjaro-hello.json
QtProject.conf
${XDG_CONFIG_HOME:-
/BraveSoftware
/Code
/Postman
/obs-studio
/nvim/plugged
/vlc
/pamac
/manjaro
/configstore
/gatsby
/nextjs-nodejs
/vlc
/wget
/xfce4
/yarn
/zathura
/pulse
/libreoffice
/menus
/mume
/navicat
/neofetch
/falkon
/Debauchee
/calibre
/cef_user_data
